# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
appdirs=1.4.4
arviz=0.18.0
asttokens=2.0.5
atk-1.0=2.36.0
backcall=0.2.0
blas=1.0
blosc=1.21.5
boost-cpp=1.82.0
bottleneck=1.3.5
brotli=1.0.9
brotli-bin=1.0.9
bzip2=1.0.8
c-ares=1.20.1
ca-certificates=2024.7.4
cachetools=5.3.3
cairo=1.16.0
cartopy=0.21.1
certifi=2024.7.4
cfitsio=3.470
cftime=1.6.3
cloudpickle=3.0.0
cmcrameri=1.8
cons=0.4.6
contourpy=1.0.5
cudatoolkit=11.8.0
cutde=23.6.25
cvxopt=1.3.2
cycler=0.11.0
cyrus-sasl=2.1.28
dbus=1.13.18
decorator=5.1.1
dm-tree=0.1.8
dsdp=5.8
etuples=0.3.9
exceptiongroup=1.0.4
executing=0.8.3
expat=2.6.2
fftw=3.3.10
filelock=3.13.4
font-ttf-dejavu-sans-mono=2.37
font-ttf-inconsolata=3.000
font-ttf-source-code-pro=2.038
font-ttf-ubuntu=0.83
fontconfig=2.14.1
fonts-anaconda=1
fonts-conda-ecosystem=1
fonts-conda-forge=1
fonttools=4.25.0
freetype=2.12.1
freexl=2.0.0
fribidi=1.0.10
gdal=3.6.2
gdk-pixbuf=2.42.10
geos=3.8.0
geotiff=1.7.0
gettext=0.22.5
gettext-tools=0.22.5
giflib=5.2.1
glib=2.78.4
glib-tools=2.78.4
glpk=5.0
gmp=6.3.0
gobject-introspection=1.72.0
graphite2=1.3.14
graphviz=2.50.0
gsl=2.7
gst-plugins-base=1.14.1
gstreamer=1.14.1
gtk2=2.24.33
gts=0.7.6
h5netcdf=1.3.0
h5py=3.9.0
harfbuzz=4.3.0
hdf4=4.2.13
hdf5=1.12.1
icu=73.1
importlib-metadata=6.8.0
importlib_metadata=6.8.0
intel-openmp=2023.1.0
ipython=8.15.0
jedi=0.18.1
joblib=1.2.0
jpeg=9e
json-c=0.16
kaleido-core=0.2.1
kealib=1.5.0
kiwisolver=1.4.4
krb5=1.20.1
lcms2=2.12
ld_impl_linux-64=2.38
lerc=3.0
libabseil=20240116.1
libasprintf=0.22.5
libasprintf-devel=0.22.5
libblas=3.9.0
libboost=1.82.0
libboost-headers=1.82.0
libboost-python=1.82.0
libbrotlicommon=1.0.9
libbrotlidec=1.0.9
libbrotlienc=1.0.9
libcblas=3.9.0
libclang=14.0.6
libclang13=14.0.6
libcups=2.4.2
libcurl=8.4.0
libdeflate=1.17
libedit=3.1.20221030
libev=4.33
libexpat=2.6.2
libffi=3.4.4
libgcc-ng=13.2.0
libgd=2.3.3
libgdal=3.6.2
libgettextpo=0.22.5
libgettextpo-devel=0.22.5
libgfortran-ng=11.2.0
libgfortran5=11.2.0
libglib=2.78.4
libiconv=1.17
libkml=1.3.0
liblapack=3.9.0
libllvm14=14.0.6
libnetcdf=4.8.1
libnghttp2=1.57.0
libopenblas=0.3.21
libpng=1.6.39
libpq=12.15
librsvg=2.54.4
libspatialite=5.1.0
libsqlite=3.45.3
libssh2=1.10.0
libstdcxx-ng=13.2.0
libtiff=4.5.1
libtool=2.4.7
libuuid=1.41.5
libwebp=1.3.2
libwebp-base=1.3.2
libxcb=1.15
libxkbcommon=1.7.0
libxml2=2.13.1
libzip=1.10.1
libzlib=1.2.13
llvm-openmp=17.0.5
llvmlite=0.41.1
logical-unification=0.4.6
lz4-c=1.9.4
mako=1.2.4
markdown-it-py=3.0.0
markupsafe=2.1.3
mathjax=2.7.5
matplotlib=3.8.0
matplotlib-base=3.8.0
matplotlib-inline=0.1.6
mdurl=0.1.0
meshio=5.3.4
metis=5.1.0
minikanren=1.0.3
minizip=4.0.5
mkl=2022.2.1
mkl-service=2.4.0
mkl_fft=1.3.8
mkl_random=1.2.4
mpfr=4.2.1
mpi=1.0
mpi4py=3.1.4
mpich=3.3.2
multipledispatch=0.6.0
munkres=1.1.4
mysql=5.7.24
ncurses=6.4
netcdf4=1.6.0
nspr=4.35
nss=3.98
numba=0.58.1
numexpr=2.8.7
numpy=1.26.0
numpy-base=1.26.0
openjpeg=2.4.0
openssl=3.3.1
packaging=23.1
pandas=2.1.1
pango=1.50.7
parso=0.8.3
patsy=0.5.6
pcre=8.45
pcre2=10.42
pexpect=4.8.0
pickleshare=0.7.5
pillow=10.0.1
pixman=0.43.2
platformdirs=3.11.0
ply=3.11
poppler=22.12.0
poppler-data=0.4.12
proj=9.3.1
prompt-toolkit=3.0.36
ptyprocess=0.7.0
pure_eval=0.2.2
pybind11=2.11.1
pybind11-global=2.11.1
pycuda=2022.2.2
pygments=2.15.1
pymc=5.13.1
pymc-base=5.13.1
pyparsing=3.0.9
pyproj=3.6.1
pyqt=5.15.10
pyqt5-sip=12.13.0
pyshp=2.1.3
pytensor=2.13.1
pytensor-base=2.20.0
python=3.10.13
python-dateutil=2.8.2
python-graphviz=0.20.3
python-kaleido=0.2.1
python-tzdata=2023.3
python_abi=3.10
pytools=2023.1.1
pytz=2023.3.post1
pyyaml=6.0.1
qhull=2020.2
qt-main=5.15.2
readline=8.2
rich=13.7.1
scikit-learn=1.3.0
scipy=1.11.3
seaborn=0.13.2
seaborn-base=0.13.2
shapely=2.0.1
sip=6.7.12
six=1.16.0
snappy=1.2.1
sqlite=3.45.3
stack_data=0.2.0
statsmodels=0.14.1
suitesparse=5.10.1
tbb=2021.8.0
tenacity=8.2.2
threadpoolctl=2.2.0
tiledb=2.3.3
tk=8.6.12
tomli=2.0.1
toolz=0.12.1
tornado=6.3.3
tqdm=4.65.0
traitlets=5.7.1
typing-extensions=4.8.0
typing_extensions=4.8.0
tzdata=2023c
uriparser=0.9.8
wcwidth=0.2.5
wheel=0.41.2
xarray=2024.3.0
xarray-einstats=0.7.0
xerces-c=3.2.4
xkeyboard-config=2.42
xorg-kbproto=1.0.7
xorg-libx11=1.8.9
xorg-libxau=1.0.11
xorg-xextproto=7.3.0
xorg-xproto=7.0.31
xz=5.4.6
yaml=0.2.5
zipp=3.17.0
zlib=1.2.13
zstd=1.5.5
